body {
  font-family: 'Roboto', sans-serif;
   background: #ffffffda;
}

header {
  width: 90%;
  margin: 20px auto;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  transition: 400ms;
}

h1:hover {
  font-size: 25px;
  cursor: pointer;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

p {
  font-size: 18px;
}

